<a href="https://colab.research.google.com/github/hgabrali/Python-Mastery-Advanced-Concepts/blob/main/Week_1_Python_practice_Day_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Practice Day - Functions**

### Question 1

Create a function that takes a list of numbers or strings and returns a list with the items from the original list stored into sublists. Items of the same value should be in the same sublist.


**Examples**
- advanced_sort([2, 1, 2, 1]) ➞ [[2, 2], [1, 1]]
- advanced_sort([5, 4, 5, 5, 4, 3]) ➞ [[5, 5, 5], [4, 4], [3]]
- advanced_sort(["b", "a", "b", "a", "c"]) ➞ [["b", "b"], ["a", "a"], ["c"]]

In [ ]:
def advanced_sort(lst):
  result = []
  seen = set()

  for item in lst:
    if item not in seen:
      result.append([x for x in lst if x == item])  # list comprehension
      seen.add(item)

  return result

In [ ]:
advanced_sort([2,1,2,1])

[[2, 2], [1, 1]]

In [ ]:
advanced_sort([5, 4, 5, 5, 4, 3])

[[5, 5, 5], [4, 4], [3]]

### Question 2
Create a function that takes a number num, and returns each place value in the number.

**Examples**
- num_split(39) ➞ [30, 9]
- num_split(-434) ➞ [-400, -30, -4]
- num_split(100) ➞ [100, 0, 0]

In [ ]:
def num_split(num):

  # convert the numbers into a string
  num_str = str(num)

  # determine if the number is a negative number
  is_negative = num < 0

  # create an empty list to store the result
  result = []

  # iterate over each character in the string, skipping the minus if present
  for i, digit in enumerate(num_str.lstrip('-')):
    place_value = int(digit) * (10 ** (len(num_str.lstrip('-')) - i - 1))
    result.append(-place_value if is_negative else place_value)

  return result

In [ ]:
num = 1234

num = str(num)

print(num.lstrip())

1234

In [ ]:
num_split(100)

[100, 0, 0]

### Question 3

Given an English description of an integer in the range 0 to 999, devise a function that returns the integer in numeric form.

Examples
- eng2nums("four") ➞  4
- eng2nums("forty") ➞ 40
- eng2nums("six hundred") ➞ 600
- eng2nums("one hundred fifteen") ➞ 115
- eng2nums("seven hundred sixty seven") ➞ 767

**Note**
- No hyphens are used in test cases ("twenty three" not "twenty-three").
- The word "and" is not used: "one hundred three" not "one hundred and three".

In [ ]:
def eng2num(s):
  # define mappings for numbers
  num_words = {
      'zero': 0,
      'one' : 1,
      'two': 2,
      'three': 3,
      'four' : 4,
      'five': 5,
      'six': 6,
      'seven': 7,
      'eight': 8,
      'nine': 9,
      'ten': 10,
      'eleven': 11,
      'tweleve': 12,
      'thirteen': 13,
      'fourteen': 14,
      'fifteen': 15,
      'sixteen': 16,
      'seventeen': 17,
      'eighteen': 18,
      'nineteen': 19,
      'twenty': 20,
      'thirty': 30,
      'fourty': 40,
      'fifty': 50,
      'sixty': 60,
      'seventy': 70,
      'eighty': 80,
      'ninety': 90,
      'hundred': 100

  }
# split the input string into words
  words = s.split()

  total = 0
  current = 0

  for word in words:
    if word in num_words:
      if word == 'hundred':
        current *= num_words[word]
      else:
        current += num_words[word]
    else:
      raise ValueError(f'unknown number word : {word}')
  total += current
  return total

In [ ]:
eng2num("seven hundred sixty seven")

767

In [ ]:
eng2num('three hundred fifty one')

351

### Question 4

Create a function that takes a string and returns the right answer.

Examples
- post_fix("2 2 +") ➞ 4
- post_fix("2 2 /") ➞ 1
- post_fix("8 4 / 9 * 3 1 * /") ➞ 54

**Note**
- The operators + - * / may be supported.
- Output always returns an integer.

In [ ]:
def post_fix(expression):
  # split the expression into token
  tokens = expression.split()

  stack = []

  # itereate through each token in the expression
  for token in tokens:

    if token.isdigit(): # if the token is a number, put it into the stack
      stack.append(int(token))
    else:
      # pop two numbers from the stack for the operation
      num2 = stack.pop()
      num1 = stack.pop()

      # perform the operation based on the tokens (operator)
      if token == '+':
        stack.append(num1 + num2)
      elif token == '-':
        stack.append(num1 - num2)
      elif token == '*':
        stack.append(num1 - num2)
      elif token == '/':
        stack.append(num1 // num2)

  return stack[0]

In [ ]:
post_fix("2 2 -")

0

### Question 5

Write a function that, given the start and end values, returns an array containing all the numbers inclusive to that range. See examples below.

**Examples**
- reversible_inclusive_list(1, 5) ➞ [1, 2, 3, 4, 5]
- reversible_inclusive_list(2, 8) ➞ [2, 3, 4, 5, 6, 7, 8]
- reversible_inclusive_list(10, 20) ➞ [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
- reversible_inclusive_list(24, 17) ➞ [24, 23, 22, 21, 20, 19, 18, 17]

**Notes**
- The sort order of the resulting array is dependent of the input values.
- All inputs provided in the test scenarios are valid.
- If start is greater than end, return a descendingly sorted array, otherwise, ascendingly sorted.
- You are expected to solve this challenge via a recursive approach.

In [ ]:
def reversible_inclusive_list(start, end):
  # base case: when start equals our end, return a list with a single element

  if start == end:
    return [start]

  # recussive case: generate an ascending or descending list
  if start < end:
    return [start] + reversible_inclusive_list(start + 1, end)
  else:
    return [start] + reversible_inclusive_list(start - 1, end)

In [ ]:
reversible_inclusive_list(1,1)

[1]

In [ ]:
reversible_inclusive_list(4, 10)

[4, 5, 6, 7, 8, 9, 10]

In [ ]:
reversible_inclusive_list(10, 4)

[10, 9, 8, 7, 6, 5, 4]

### Question 6

Create a function that, given a list of string lists, returns an list of all combinations as concatenated strings.

- The function is called with a list of lists containing strings.
- The task is to combine each string of each array with each string of each other list.
- If one of the string lists is empty, the function will return an empty list.
- The function will accept an optional second string parameter. This parameter, if specified, is to be used to combine two strings.

**Examples**
- combinator([["a", "b"], ["c", "d"]]) ➞ ["ac", "ad", "bc", "bd"]
- combinator([["a"], ["a", "b"], "abc"]) ➞ ["aaa", "aab", "aac", "aba", "abb", "abc"]
- combinator([["foo", "bar"], ["baz", "bamboo"]], " ") ➞ ["foo baz", "foo bamboo", "bar baz", "bar bamboo"]
- combinator([[]]) ➞ []

**Note**
- The order of the given strings must be retained in the combinations.

- The function is always called with a list of string lists and lists can be empty.

In [ ]:
from itertools import product

def combinator(lists, sep = ""):
  # if any inner list is empty, return an empty list
  if not lists or any(len(sublist) == 0 for sublist in lists):
    return []

  # compute cartersian product of all string lists
  combos = product(*lists)

  # join each combination using the seperator
  return [sep.join(item) for item in combos]

In [ ]:
combinator([["a", "b"], ["c", "d"]])

['ac', 'ad', 'bc', 'bd']

### Question 7

Create a function calculator(x, y) that has nested functions add, subtract, multiply, and divide, and returns all results as a dictionary.

In [ ]:
def calculator(x, y):
  def add(): return x + y
  def subtract(): return x - y
  def multiply(): return x * y
  def divide(): return x / y if y != 0 else 'undefined'

  return {
      'add': add(),
      'subtract': subtract(),
      'multiply': multiply(),
      'divide': divide()
  }

In [ ]:
print(calculator(10, 2))

{'add': 12, 'subtract': 8, 'multiply': 20, 'divide': 5.0}

### Question 8

Write a function that finds the largest even number in a list. Return -1 if not found. The use of built-in functions max() and sorted() are prohibited.

**Examples**
- largest_even([3, 7, 2, 1, 7, 9, 10, 13]) ➞ 10
- largest_even([1, 3, 5, 7]) ➞ -1
- largest_even([0, 19, 18973623]) ➞ 0

**Notes**
Consider using the modulo operator % or the bitwise and operator &.

In [ ]:
def largest_even(nums):
  # start with -1, assuming no even numbers in the list
  largest = -1
  for num in nums:
    if num % 2 == 0: # chceks if the number is even
      if num > largest: # updating the largest if the current number is greater
        largest = num
  return largest

In [ ]:
largest_even([3, 7, 2, 1, 7, 9, 10, 13])

10

### Question 9

Create a function that takes in a list and returns a list of the accumulating sum.

**Examples**
- accumulating_list([1, 2, 3, 4]) ➞ [1, 3, 6, 10]
[1, 3, 6, 10] can be written as  [1, 1 + 2, 1 + 2 + 3, 1 + 2 + 3 + 4]

- accumulating_list([1, 5, 7]) ➞ [1, 6, 13]

- accumulating_list([1, 0, 1, 0, 1]) ➞ [1, 1, 2, 2, 3]

- accumulating_list([]) ➞ []

**Notes**
- An empty list input [] should return an empty list [].

In [ ]:

def accumulating_sum(lst):
  accumulated = []
  current_sum = 0
  for num in lst:
    current_sum += num
    accumulated.append(current_sum)
  return accumulated

In [ ]:
accumulating_sum([1, 2, 3, 4])

[1, 3, 6, 10]

### Question 10

The median of a group of numbers is the middle number when the group is sorted. If the size of the group is even, the median is the average of the middle two numbers. Given a sorted list of numbers, return the median (rounded to one decimal place if the median isn't an integer).

**Examples**
- median([1, 2, 4, 5, 6, 8, 8, 8, 10]) ➞ 6
- median([2, 2, 6, 8, 8, 10, 10]) ➞ 8
- median([1, 2, 2, 4, 7, 8, 9, 10]) ➞ 5.5